<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= launch_folder %></title>
    <!--<link rel="icon" href="<%= launch_folder %>/icon.webp" type="image/x-icon">
    <link rel="stylesheet" href="<%= launch_folder %>/styles.css">-->
    <style>
        body {
            background-color: #1a1a1a;
            color: #fff;
            font-family: sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 5em;
            margin: 0;
        }

        h2 {
            font-size: 2em;
            margin: 0;
        }
    </style>
</head>

<body class="dark-mode">
    <h1>tto.cx</h1>
    <h2>URL Shortener</h2>
</body>

</html>